<!-- <h1>This is the unlucky page</h1> -->
<!-- <h1>Your lucky number is <%= rand(1000...100000)  %></h1> -->
<!-- <h1>Your lucky number is <%= @unlucky_numbers %></h1> -->

<h1>Your unlucky numbers are:</h1>
<ul>
  <% @unlucky_numbers.each do |num| %>
  <h1><li><%= num %></li></h1>
  <% end %>
</ul>
